@import url(fonts.css);
@import url(media.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --allura: 'Allura';
    --georgia: 'Georgia';
    --ger-400-it: 'Georgia-Reg-It';
    --ger-700-it: 'Georgia-Bold-It';
    --rochester: 'Rochester';
    --srp: 'SourceSansPro-Regular';
    --srpb: 'SourceSansPro-Black';
    --srpe: 'SourceSansPro-Extra';
    --srpl: 'SourceSansPro-Light';
    --srplit: 'SourceSansPro-Light-It';
    --srpsb: 'SourceSansPro-Semi-Bold';
}
body {
    font-family: var(--srp);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
a:hover {
    text-decoration: none;
    
}
/* HEADER start */
.wrapper {
    background: #f5f5f5;
}
.header__social-link {
    padding: 10px 20px;
    font-size: 14px;
    color: #777777;
    transition: all .5s;
    border: 1px solid #e3e3e3;
    border-top: none;
}

.header__social-link:hover {
    background: #ffce8a;
    color: #fff;
}
.header__social-link-icon {
    color: #777777;
    font-size: 13px;
}
.header__social-link-icon:hover {
    color: #777777;
}
.header__social-icon {
    color: #e3834a;
    margin-right: 16px;
}
.header__social-link-icon:not(:last-child) {
    margin-right: 37px;
}
.header__nav {
    padding: 37px 0;
}
.header__nav ul li {
    list-style: none;
}
.header__logo-link {
    color: #444444;
    font-size: 35px;
    font-family: var(--rochester);
}
.header__logo-link:hover {
    color: #444444;
}
.header__nav-link {
    color: #444444;
    font-size: 16px;
    font-family: var(--georgia);
    padding: 12px 20px;
    transition: .5s;
    line-height: 16px;
    border: 2px solid transparent;
    border-radius: 17px;
}
.header__nav-link:hover {
    border: 2px solid #e3834a;
    color: #e3834a;
}
.header__navbar {
    position: relative;
    box-shadow:  0 2px 5px 1px rgba(0, 0, 0, 0.30);
    z-index: 1;
}
.header__bg {
    background: url(../images/header-bg.jpg) no-repeat center center /cover;
    position: relative;
}
.header__blur{
    backdrop-filter: blur(30px);
    height: 100vh;
}
.header__slider {
    position: absolute;
    bottom: 45px;
    padding: 26px 60px;
    background: #eef0f0;
    max-width: 300px;
    width: 100%;
}
.header__carousel-inner-title {
    margin-bottom: 23px;
    color: #e3834a;
    font-size: 24px;
    font-family: var(--srpl);
}
.header__slider-item-title {
    font-size: 16px;
}
.header_slider-control-left {
    position: absolute;
    left: 0;
}
.header_slider-control-right {
    position: absolute;
    right: 0;
}
.header_slider-control-left, .header_slider-control-right {
    top: 47%;
}
.header__inner-title {
    margin-top: 20px;
    
}
.block-text-title {
    font-size: 13px;
    font-family: var(--ger-700-it);
    color: #444444;
    margin-bottom: 9px;
}
.block-text-desc {
    font-family: var(--ger-400-it);
    font-size: 12px;
    color: #444444;
}
.header__carousel-item-img {
    border: 3px solid #fff;
    box-shadow: 0 0 3px 0 #000000;
    height: 100%;
}
.header_slider-control-left {
    padding-left: 15px;
}
.header_slider-control-right {
    padding-right: 15px;
}
.header__shelf-img {
    width: 100%;
}





/* HEADER end */
/* ************************************** */